*.[ao]
*.gcda
*.gcno
*.gcov
*.l[ao]
*.loT
*.orig
*.py[co]
*.rej
*.sw[op]
*~
*#
.#*
.deps
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/libtool
/m4/
/src/util/util_generated.c
/src/waltham/*.c
/stamp-h1
/tests/client
/tests/server
